#alap {
    width: 400px;
    height: 400px;
    position: relative;
    background: #F0F0F0;
}
#alap #print-text {
    display: none;
    text-align: center;
    position: relative;
    top: 150px;
    font-size: 50px;
}
/* begin of snake */
#snake {
    width: 10px;
    height: 10px;
    position: absolute;
    background: black;
}
#snake.game-over {
    display: none;
}
/* end of snake */

#end {
    width: 400px;
    height: 400px;
    position: relative;
    background: red;
}
